.portraitUsLetterEditor .lexical-editor-input {
  min-height: 48px;
}

.add-paragraph-wrapper {
  width: 205px;
  text-align: left;
  margin-inline: auto;
}

.fullscreen-editor {
  position: fixed;
  inset: 0;
  z-index: 99;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.fullscreen-editor .lexical-editor-inner,
.fullscreen-editor .lexical-editor-input {
  height: 91vh;
  overflow: auto;
}

.fullscreen-hidden {
  display: none !important; /* Ensures the elements don't take up space */
}
