.col-form-label-lg {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 18px;
}

.standard-paragraph-sort-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: -5px 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 15%;
}

.standard-paragraph-sort-arrow {
  transform: scale(1.8);
}
