.add-content-modal__content-container {
  font-family: SourceSans3, sans-serif;
  border: 2px solid var(--dr-color-gray-dark);
  height: 440px;
  margin-top: 20px;
  padding: 4px;
  overflow: auto;
}

.add-content-modal__note {
  font-size: 14px;
  color: var(--text-secondary);
}

.add-content-modal__content {
  padding-inline: 16px;
}

.add-content-modal__content-container {
  font-family: SourceSans3, sans-serif;
  border: 2px solid var(--dr-color-gray-dark);
  height: 440px;
  margin-top: 20px;
  padding: 4px;
  overflow: auto;
}

/* AddContentBtn component */
.add-content-btn {
  margin-right: 3rem;
  font-weight: normal;
}

.add-content-btn::part(button) {
  border: none;
  margin-right: 8px;
}

.add-content-btn dr-icon::part(icon) {
  border: solid 2px var(--dr-color-black);
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: SourceSans3, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  height: 32px;
  padding: 6px;
}

.add-content-btn__text {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin: 0 0 0 8px;
  padding: 0;
}