/* Overwrite some styles in lexical/styles/styles.css to differentiate between letter and admin editors */
.admin {
  margin: 4px auto 0px auto;
  border-radius: 2px;
  max-width: 1100px;
  color: #000;
  position: relative;
  line-height: 1.7;
  font-weight: 400;
}

.admin .lexical-editor-input {
  height: 200px;
  overflow: auto;
  background: white;
}

.admin .toolbar {
  top: -41px;
  width: 100%;
}
